<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Logger" value="TRUE"/>
    <add key="LogLocation" value="C:\Saurav\Projects\Adobe-IQE\Adobe.Localization V 2.0\Supporting Tools\BatchService\OogwayBatch\Logs\BatchProcessLog.txt"/>
    <add key="RequestXmlPath" value="C:\Saurav\Projects\Adobe-IQE\Adobe.Localization V 2.0\Supporting Tools\BatchService\OogwayBatch\RequestXMLs\"/>
    <add key="GraphXmlPath" value="C:\Saurav\Projects\Adobe-IQE\Adobe.Localization V 2.0\Supporting Tools\BatchService\OogwayBatch\PlottingXMLs\"/>
    <add key="DBConnectionString" value="server=localhost; database=localization; user id=root; password=root; pooling=true; Min Pool Size=0; Max Pool Size=100; Connect Timeout=120;"/>
    <add key="SMTPServer" value="indiamail.corp.adobe.com"/>
    <add key="SMTPPort" value="25"/>
    <add key="DefaultEmailID" value="Oogway-support@adobe.com"/>
    <add key="DefaultEmailName" value="Oogway Batch Support - DEV"/>
    <add key="WatsonWebServer" value="watson-query.corp.adobe.com"/>
    <add key="WatsonAPPGUID" value="e5d1ab8d-81d7-49cf-98bb-803fc1b25af9"/>
    <add key="ServiceExecutionTime" value="17:00"/>
  </appSettings>
</configuration>