<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LDAPServer" value="ADOBENET.GLOBAL.ADOBE.COM"/>
    <add key="LDAPPort" value="389"/>
    <add key="SMTPServer" value="indiamail.corp.adobe.com"/>
    <add key="SMTPPort" value="25"/>
  </appSettings>
</configuration>